<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="usuarios">
      <ion-icon name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fabricas1">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Fábricas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
