<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Fabricas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="control == 0">
  <ion-item *ngFor="let item of lista_fabricas" >
    <ion-icon slot="start" [name]="!item.estado?'close':'checkmark'"></ion-icon>
    <ion-icon slot="end" name="ellipsis-vertical" (click)="crud(item)"></ion-icon>
      <ion-label (click)="ir_linea(item)">{{item.nombre}}</ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-content *ngIf="control == 1">

</ion-content>