<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>1Detalle {{tipo}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item *ngFor="let detalle of lista_detalles "  (click)= "crud(detalle)">
    <ion-label>
      <h2>Cantidad:{{detalle.cantidad}}</h2>
      <p>Peso:{{detalle.peso}}</p>
      <p>Precio:{{detalle.precio}}</p>
    </ion-label>
    <ion-icon slot="end" name="ellipsis-vertical" ></ion-icon>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
