<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary">     
      <ion-icon name="arrow-back-outline" (click)="salir()"></ion-icon>
      <ion-title>Crear linea</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
<ion-item>
  <ion-label position="floating" >Nombre linea</ion-label>
  <ion-input [(ngModel)]= "linea"></ion-input>
</ion-item>

<ion-list>
  <ion-radio-group [(ngModel)]="animal" value="gato">
    <ion-list-header>
      <ion-label>Animal</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Gato</ion-label>
      <ion-radio slot="start" value="gato"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Perro</ion-label>
      <ion-radio slot="start" value="perro"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hamster</ion-label>
      <ion-radio slot="start" value="hamster"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-button expand="full" (click)="aceptar(linea)">
Aceptar
</ion-button>
</ion-content>
