<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear detalle - {{nombre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" >Peso</ion-label>
    <ion-input type="number" [(ngModel)]= "peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Precio</ion-label>
    <ion-input type="number" [(ngModel)]= "precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]= "cantidad"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="guardar()">Aceptar</ion-button>
  
</ion-content>
