<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear producto - {{nombre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile">
    <ion-fab (click)="funciones()">
      <ion-fab-button size="small">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <img (click)="modal()" [src]='urlfinal'>
  </div>

  <ion-list>
    <form [formGroup]="registerForm" (ngSubmit)="aceptar()">
      <ion-item>
        <ion-label position="stacked"> Tipo</ion-label>
        <ion-input required formControlName="tipo" type="text"></ion-input>
      </ion-item>
      <app-validation [error]="registerForm.get('tipo').errors" [variable]="registerForm.get('tipo')" nombre="El tipo ">
      </app-validation>
      <ion-item>
        <ion-label position="stacked"> Caracteristicas</ion-label>
        <ion-textarea required formControlName="caracteristicas" type="text"></ion-textarea>
      </ion-item>
      <app-validation [error]="registerForm.get('caracteristicas').errors"
        [variable]="registerForm.get('caracteristicas')" nombre="Las caracteristicas "></app-validation>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-select ok-text="Aceptar" cancel-text="Cancelar" formControlName="edad" placeholder="Seleccione">
          <ion-select-option value="cachorro">Cachorro</ion-select-option>
          <ion-select-option value="adulto">Adulto</ion-select-option>
        </ion-select>
      </ion-item>
      <app-validation [error]="registerForm.get('edad').errors" [variable]="registerForm.get('edad')" nombre="La edad ">
      </app-validation>
      <ion-item>
        <ion-label>Raza</ion-label>
        <ion-select ok-text="Aceptar" cancel-text="Cancelar" formControlName="raza" placeholder="Seleccione">
          <ion-select-option value="pequeña">Pequeña</ion-select-option>
          <ion-select-option value="mediana">Mediana</ion-select-option>
          <ion-select-option value="grande">Grande</ion-select-option>
        </ion-select>
      </ion-item>
      <app-validation [error]="registerForm.get('raza').errors" [variable]="registerForm.get('raza')" nombre="La raza ">
      </app-validation>
      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
        Aceptar
      </ion-button>
    </form>
  </ion-list>

</ion-content>
<!--
  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input [(ngModel)]="tipo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Características</ion-label>
    <ion-textarea [(ngModel)]="caracteristicas"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Seleccione edad</ion-label>
    <ion-select [(ngModel)]="edad" value="cachorro" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="cachorro">Cachorro</ion-select-option>
      <ion-select-option value="adulto">Adulto</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Seleccione Raza</ion-label>
    <ion-select [(ngModel)]="raza" value="pequeña" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="pequeña">Pequeña</ion-select-option>
      <ion-select-option value="mediana">Mediana</ion-select-option>
      <ion-select-option value="grande">Grande</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="guardar()">Aceptar</ion-button>
 -->