<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Productos - {{nombre}} j</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item *ngFor="let producto of lista_productos "  >

    <ion-icon slot="start" [name]="!producto.estado?'close':'checkmark'"></ion-icon>
    <ion-thumbnail slot="start">
      <img src="./thumbnail.svg">
    </ion-thumbnail>
    <ion-label  (click)= "listar_detalles(producto)">
      <h2>{{producto.tipo}}</h2>
      <p>{{producto.raza}}</p>
      <p>{{producto.edad}}</p>
    </ion-label>
    <ion-icon slot="end" name="ellipsis-vertical" (click)="crud(producto)"></ion-icon>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
