<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Fabricas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item *ngFor="let item of lista_fabricas" (click)="ir_linea(item)">
    <ion-icon slot="end" name="ellipsis-vertical" ></ion-icon>
      <ion-label>{{item.nombre}}</ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
