<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Linea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <form [formGroup]="registerForm" (ngSubmit)="modificar()">
      <ion-item>
        <ion-label position="stacked"> Nombre</ion-label>
        <ion-input required formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <app-validation [error]="registerForm.get('nombre').errors" [variable]="registerForm.get('nombre')"
        nombre="El nombre "></app-validation>
        <ion-item>
        <ion-label>Animal</ion-label>
        <ion-select ok-text="Aceptar" cancel-text="Cancelar" formControlName="animal" placeholder="Seleccione">
          <ion-select-option value="gato">Gato</ion-select-option>
          <ion-select-option value="perro">Perro</ion-select-option>
          <ion-select-option value="hamster">Hamster</ion-select-option>
        </ion-select>
      </ion-item>
      <app-validation [error]="registerForm.get('animal').errors" [variable]="registerForm.get('animal')"
      nombre="El Animal"></app-validation>

<!-- 
<ion-item>
        <ion-label position="stacked"> Animal</ion-label>
        <ion-input required formControlName="animal" type="text"></ion-input>
      </ion-item>
      <app-validation [error]="registerForm.get('animal').errors" [variable]="registerForm.get('animal')"
        nombre="El animal "></app-validation>
-->
      
      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
        Modificar
      </ion-button>
    </form>
  </ion-list>

</ion-content>